/* common */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background: #000;
    width: 100%;
    height: 80px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.7rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.page-description {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid #00000048;
    width: 100%;
}

.editor-container {
    width: 100%;
    height: 100%;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.editor-body {
    padding: 1rem;
}

.editor {
    width: 100%;
    height: 100vh;
}

.post-form {
    width: 100%;
    padding: .8rem;
}


table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #4b4646;
}

.table-head {
    display: flex;
    width: 100%;
}

.th {
    padding: 10px 0;
    width: 25%;
    text-align: center;
    background: #4b4646;
    color: #fff;
}

.table-row {
    display: flex;
}

.tr {
    display: flex;
    width: 100%;
}

.td {
    padding: 10px 20px;
    width: 25%;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #75696948;
}

.pagination {
    padding: 2px 10px;
    margin: 3rem 0.5rem;
}

.pagination-btn {
    padding: 10px 20px;
    background: #1bcdd3;
    color: #1a1717;
    border: 1px solid #1a1717;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rounded-l {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rounded-r {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bg-skyblue {
    background: #1bcdd3;
}

.bg-gray {
    background: #d6d4d4;
}

.pagination-btn:hover {
    background: #1bcdd380;
    padding: 12px 22px;
    color: #1b1a1a6c;
}